<div class="row news-filter">
    <div class="col-lg-12">
        <select class="form-control" ng-model="orderNewsDate">
            <option value="date">Сначала старые</option>
            <option value="-date">Сначала новые</option>
        </select>
    </div>
</div>

<div class="row article" ng-repeat="article in news | orderBy:orderNewsDate">
    <div class="col-lg-2">
        <a href="#/news/{{article.id}}"><img class="article-image img-thumbnail" ng-src="{{article.image}}" /></a>
    </div>
    <div class="col-lg-10">
        <a href="#/news/{{article.id}}"><h2>{{article.title}}</h2></a>
        <h3 class="pull-right">{{article.date | strToDate | date:'dd.MM.yyyy'}}</h3>
        <p>{{article.preview}}</p>
    </div>
</div>