<div class="row news-filter">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="#/news/">Назад к списку</a>
        <a class="btn btn-primary" ng-hide="result" ng-href="" ng-really-message="Удалить" ng-click="delete(article._id)">Удалить новость</a>
        <a class="btn btn-primary" ng-hide="result" href="#/news/{{article._id}}/edit">Редактировать</a>
        <div ng-show="result" class="alert alert-success" role="alert">Удалено</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <img class="article-image img-thumbnail" ng-src="{{article.image}}" />
        </div>
        <div class="col-lg-10">
            <h2>{{article.title}}</h2>
            <p>{{article.fulltext}}</p>
            <a ng-href="" ng-click="complain(article._id)">Пожаловаться на новость</a>
            <div class="pull-right">Дата публикации: {{article.date | strToDate | date:'dd.MM.yyyy'}}</div>
        </div>
    </div>
</div>