<div class="row news-filter">
    <div class="col-lg-10">
        <a class="btn btn-primary" href="/news/add">Добавить</a>
    </div>
    <div class="col-lg-2">
        <select class="form-control" ng-init="orderNewsDate='-date'" ng-model="orderNewsDate">
            <option value="date">Сначала старые</option>
            <option value="-date">Сначала новые</option>
        </select>
    </div>
</div>
<div class="row article" ng-repeat="article in news | orderBy:orderNewsDate">
    <div class="col-lg-2">
        <a ng-href="/news/{{article._id}}"><img class="article-image img-thumbnail" ng-src="{{article.image}}" /></a>
    </div>
    <div class="col-lg-8">
        <a ng-href="/news/{{article._id}}"><h2>{{article.title}}</h2></a>
        <p>{{article.preview}}</p>
    </div>
    <div class="col-lg-2">
        <h3><span ng-date-widget date="{{article.date}}" /></h3>
    </div>
</div>